@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
}
h1, h2, h3, h4{
	font-family: "Droid Serif",serif;
    color: #CC3300;
}
h1{
	font-size: 4.236rem;
}
h2{
	font-size: 2.618rem;
}
h3{
	font-size: 1.618rem;
}
h4{
	font-size: 1rem;
}
p, li, a{
	font-family: "Droid Sans",sans-serif;
    font-size: 0.618rem;
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 400px;
    background-image: url("../img/moon-header.jpg");
    background-repeat: no-repeat;
/*    background-position: top right;*/
    background-size: contain;
}
.main{
	padding-left: 10%;
    padding-right: 10%;
}
.footer{
	background-color: #333333;
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
	color: #CC3300;
    font-size: 0.618rem;
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	
}


/***********************************
		CONTENT
***********************************/
.header h1{
    color: #FFFFFF;
    width: 50%;
    text-align: right;
    padding-left: 5%;
    font-size: 6.854rem;
}
.main h2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.main h3{
    margin-top: 3%;
    margin-bottom: 3%;
}
.main p{
    margin-top: 3%;
    margin-bottom: 3%;
}
.main img{
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    font-size: 0.618rem;
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
    padding-top: 2%;
    padding-bottom: 2%;
/*    outline: 2px solid yellow;*/
}
.footer li{
    /* make these 50% the width of the footer */
    width: 35%;
    padding-left: 15%;
    margin-top: 2%;
}

/* Select first three elements*/
.footer li:nth-child(odd){
    float: left;
}


.footer li:nth-child(even){
    float: right;
}

